.backModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8098bb41;
}


.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 400px;
  background-color: #282c34;
  color: rgb(97, 218, 251);
  border: 1px solid rgb(97, 218, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}